* {
  box-sizing: border-box;
}

html, 
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  position: fixed ;
}

coin {
  width: 20%;
  height: 2%;
  margin: 0;
  padding: 0;

}